@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(https://jeffreymaniac.github.io/OpenDyslexic-font-for-css/opendyslexic.css);
body {
	font-family:Josefin Sans;
	display:flex;
	flex-direction:column;
	margin:0;
	height: 100vh;
	overflow:hidden;
	background:white;
}
header {
	background: blue;
	display:flex;
	flex-direction:row;
	color:white;
	padding:20px;
	flex: 0 30px;
	align-items: center;
	justify-items:flex-start;
	gap: 20px;
	font-size: 30px;
}
.overlaytitle{
	background: blue;
	display:flex;
	flex-direction:row;
	color:white;
	gap:1em;
	padding:10px;
}
main {
	flex: 1;
	display:flex;
	flex-direction: row;
	margin:0;
	width: 100v2;
	overflow:hidden;
}
.sidebar {
	flex: 0 5 150px;
	padding: 10px;
	background:#f5f5f5;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.submitbutton {
	background:blue; 
	color: #f5f5f5;
	border-radius:5px;
	border: 2px solid #0000ee;
}
.submitbutton:active {
	background: #808080;
}
.pagespace {
	flex: 1 1;
	display: flex;
	overflow:hidden;
}
.playbox {
	background: cornsilk;
	border: 2px solid rgb(200, 189, 149);
	padding: 20px;
	margin: 30px;
	height:fit-content;
	width:100%;
	
}
footer {
	background:lightseagreen;
	flex: 0 30px;
	color: white;
	text-align: center;
}
footer > a {
	color: white;
}
.inputline {
	background: transparent;
	border: transparent;
	border-bottom: 1px solid black;
}

.loginheader {
	font-size: 15px;
}

.setlist {
	margin: 10px;
	padding: 10px;
	display: grid;
	overflow:scroll;
	
}
.setdisp {
	border:#808080 2px solid;
	padding: 5px;
	margin: 10px;
	height:max-content;
	justify-items: start;
}
h3 {
	font-weight:bold;
}
h3 > a {
	text-decoration: none;

}


.settings {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width:100%;
	height:100%;
}
.settingsform {
	background: beige;
	border: solid 5px blue;
	border-radius:5px;
}
.settingsq {
	margin: 10px;
	text-align: center;
}
.settingsq > legend {
	margin-bottom: 0px;
	font-size:default;
}
.settingsq > .form-check-input {
	border-radius:10%;
	border: 2px solid;
}
.settingsq > .form-check-input {
	border-radius:10%;
	accent-color:indigo;
	border: 2px solid;
}

.settingsq > .form-check-input:checked {
	border: 2px solid;
	background-color:#808080;
	color: #0000ee;
}

a:hover > img {
	filter: invert(100%) sepia(30%) invert(100%);
}

#overlay {
	position:fixed;
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	z-index:5;
}