@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(https://jeffreymaniac.github.io/OpenDyslexic-font-for-css/opendyslexic.css);
.cardlist {
	padding:5px;
	flex:1;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap:10px;
	grid-row-gap:10px;
	grid-auto-rows: 80px;
}
.card {
	background: cornsilk;
	border: 2px solid rgb(200, 189, 149);
}