
.scorespace{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:space-around;
}
table{
	font-size:16pt;
	flex: 0 1;
	grid-template-columns:2em 1fr 5em;

	box-shadow:0px 0px 20px grey;
}

td,th{
	padding:10px;
	text-align:center;
	border:1px solid goldenrod;
	
}
.personalscore{
	border:5px goldenrod solid;
	padding:20px;
	border-radius:10px;
	text-align:center;
	
}
.personalscore > p{
	padding-bottom:0px;
	margin:0px;
}
.scorenumber{
	font-weight:bold;
	color:#339349;
}
.ranknumber{
	font-weight:bold;
}

