@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(https://jeffreymaniac.github.io/OpenDyslexic-font-for-css/opendyslexic.css);
:root{
	--b: #0d6efd;
	--ow: rgb(238, 240, 245);
	--b2: cornflowerblue;
}
.body {
	font-family:Josefin Sans;
	display:flex;
	flex-direction:column;
	margin:0;
	height: 100vh;
	overflow:hidden;
	background:white;
}
header {
	background: var(--b);
	display:flex;
	flex-direction:row;
	color:white;
	padding:20px;
	flex: 0 30px;
	align-items: center;
	justify-items:flex-start;
	gap: 20px;
	font-size: 30px;
	width:100%;
}
.overlaytitle{
	background: var(--b) ;
	display:flex;
	flex-direction:row;
	color:white;
	gap:1em;
	padding:10px;
}
.main {
	flex: 1;
	display:flex;
	flex-direction: row;
	margin:0px;
	width: 100vw;
	overflow:hidden;
}
.sidebar {
	flex: 0 5 150px;
	padding: 10px;
	background:var(--ow);
	border-left:1px var(--b) solid;
	border-right:1px var(--b) solid;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items:center;
}

.pagespace {
	flex-grow:1;
	display: flex;	
	overflow:hidden;
	flex-basis:0;
	margin-right:0px;
}
.playbox {
	background: var(--ow);
	border-radius:5px;
	border: 1px var(--b) solid;
	padding: 20px;
	margin: 30px;
	height:fit-content;
	width:100%;
	
}
footer {
	background:var(--b2);
	flex: 0 30px;
	color: white;
	text-align: left;
	padding:5px;
}
footer > a {
	color: white;
}
.inputline {
	background: transparent;
	border: transparent;
	border-bottom: 1px solid black;
}

.loginheader {
	font-size: 15px;
}

.setlist {
	margin: 0px;
	padding: 10px;
	display: grid;
	overflow:scroll;
	align-content:start;
	flex:1;
	
}
.setdisp {
	border:var(--b) 2px solid;
	background-color:var(--ow);
	border-radius:10px;
	padding: 10px;
	margin: 5px;
	height:max-content;
	justify-items: start;
}
h3 {
	font-weight:bold;
}
h3 > a {
	text-decoration: none;
}


.settings {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width:100%;
	height:100%;
}
.settingsform {
	background: var(--ow);
	border: solid 5px var(--b);
	border-radius:5px;
	box-shadow:0px 0px 30px rgba(0,0,0,0.7);
}
.settingsq {
	margin: 10px;
	text-align: center;
}
.settingsq > legend {
	margin-bottom: 0px;
	font-size:default;
}
.settingsq > .form-check-input {
	border-radius:10%;
	border: 2px solid;
}
.settingsq > .form-check-input {
	border-radius:10%;
	border: 2px solid;
}

.settingsq > .form-check-input:checked {
	border: 2px solid;
	background-color:var(--b);
}

a:hover > img {
	filter: invert(100%) sepia(30%) invert(100%);
}

#login_overlay {
	position:fixed;
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	z-index:5;
}
#overlay {
	position:fixed;
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	z-index:5;
}
.loginform{
	display:flex;
	flex-direction:column;
	padding:10px;
	align-items:center;
	text-align:center;
}
.loginline{
	padding:5px;
}
.loginline > button{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
}
.header-user{
	flex:0;
	justify-self:flex-end;
	padding-left:20px;
	padding-right:10px;
	border-left: 1px solid black;
}
.pagetitle{
	flex: 1;
}
.btn-primary{
	line-height:100%;
}
.twobuttons > button{
	margin:2px;
}
.sidebartext{
	padding:5px;
	background:white;
	border-radius:5px;
}